@tailwind base;
@tailwind components;
@tailwind utilities;

html,
bodu {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section {
	background: rgb(31, 31, 31);
	background: linear-gradient(
		180deg,
		rgb(15, 15, 15) 0%,
		rgba(31, 31, 31, 1) 50%,
		rgb(35, 43, 54) 100%
	);

	@apply fixed w-full min-h-screen flex flex-col items-center justify-center bg-slate-800;
}
